:root {
	--primary-wheel-color: rgb(26, 144, 255);
	--secondary-wheel-color: #eee;
	--btn-primary: rgb(25, 118, 210);
}
html {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: #f7f7f7;
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

button {
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	border: 0px;
	font-size: 1.5rem;
	line-height: 1.75;
	text-transform: uppercase;
	padding: 0.5em 2em;
	border-radius: 4px;
	min-width: 11rem;
	box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px;
}

button:disabled {
	color: rgba(0, 0, 0, 0.26);
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.12);
	pointer-events: none;
}

.btn-primary {
	background-color: var(--btn-primary);
	color: white;
	margin-inline-end: 0.5em;
}
.btn-secondary {
	background-color: white;
	color: var(--btn-primary);
	margin-inline-start: 0.5em;
}

.timer {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 30em;
	position: relative;
}

.digit {
	font-size: 6rem;
	cursor: pointer;
	outline: 0;
}

.placeholder {
	display: inline-block;
	font-size: 3rem;
	outline: none;
	padding-inline-end: 0.5em;
}

.over {
	display: none;
	font-size: 3rem;
	background-color: rgb(253, 237, 237);
	font-weight: 500;
	color: rgb(207 22 19);
	padding: 0.5em 1em;
	position: absolute;
	inset-block-start: 50%;
}

.timer-analog {
	display: none;
	background: -webkit-linear-gradient(
		left,
		var(--primary-wheel-color, cyan) 50%,
		var(--secondary-wheel-color, #eee) 50%
	);
	border-radius: 100%;
	height: 20rem;
	width: 20rem;
	will-change: transform;
	position: relative;
	animation-name: time;
	animation-duration: 1s;
	animation-play-state: paused;
	animation-timing-function: linear;
	-webkit-mask: radial-gradient(transparent 50%, #000 50%);
	mask: radial-gradient(transparent 50%, #000 50%);
}
.mask {
	height: 100%;
	position: absolute;
	width: 50%;
	will-change: transform;
	transform-origin: 100% 50%;
	animation-name: cover;
	animation-duration: 1s;
	animation-play-state: paused;
	animation-timing-function: linear;
}
@keyframes time {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes cover {
	0% {
		background: var(--secondary-wheel-color, #eee);
		transform: rotate(0deg);
	}
	50% {
		background: var(--secondary-wheel-color, #eee);
		transform: rotate(-180deg);
	}
	50.01% {
		background: var(--primary-wheel-color, cyan);
		transform: rotate(0deg);
	}
	100% {
		background: var(--primary-wheel-color, cyan);
		transform: rotate(-180deg);
	}
}
